{% extends "base_menu.html" %}
{% block content %}
<h1>Ads</h1>
<p>
{% if ad_list %}
<ul>
  {% for ad in ad_list %}
    <li>
        <a href="{% url 'ads:ad_detail' ad.id %}">{{ ad.title }}</a>
        {% if ad.owner == user %}
        (<a href="{% url 'ads:ad_update' ad.id %}">Edit</a> |
        <a href="{% url 'ads:ad_delete' ad.id %}">Delete</a>)

        {% if user.is_authenticated %}
        <!-- Two hrefs with two stacked icons each - one showing and one hidden -->
		<a href={% url 'ads:ads' %} onclick="favPost('{% url 'ads:ad_unfavorite' ad.id %}', {{ ad.id }} )"
            {% if ad.id not in favorites %} style="display: none;" {% endif %}
            id="favorite_star_{{ad.id}}">
        <span class="fa-stack" style="vertical-align: middle;">
        <i class="fa fa-star fa-stack-1x" style="color: orange;"></i>
        <i class="fa fa-star-o fa-stack-1x"></i>
        </span>
        </a>
        <!-- the second href -->
		<a href={% url 'ads:ad_favorite' ad.id %} 
		   {% if ad.id in favorites %} style="display: none;" {% endif %}
            id="unfavorite_star_{{thing.id}}">
        <span class="fa-stack" style="vertical-align: middle;">
        <i class="fa fa-star fa-stack-1x" style="display: none; color: orange;"></i>
        <i class="fa fa-star-o fa-stack-1x"></i>
        </span>
        </a>
        {% endif %}
        {% endif %}
    </li>
  {% endfor %}
</ul>
{% else %}
  <p>There are no ads in the database.</p>
{% endif %}
</p>
<p>
<a href="{% url 'ads:ad_create' %}">Add an Ad</a> |
{% if user.is_authenticated %}
<a href="{% url 'logout' %}?next={% url 'ads:ads' %}">Logout</a>
{% else %}
<a href="{% url 'login' %}?next={% url 'ads:ads' %}">Login</a>
{% endif %}
</p>

<script>
	function getCookie(name) {
		var cookieValue = null;
		if (document.cookie && document.cookie !== '') {
			var cookies = document.cookie.split(';');
			for (var i = 0; i < cookies.length; i++) {
				var cookie = jQuery.trim(cookies[i]);
				// Does this cookie string begin with the name we want?
				if (cookie.substring(0, name.length + 1) === (name + '=')) {
					cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
					break;
				}
			}
		}
		return cookieValue;
	}

function favPost(url, thing_id) {
    console.log('Requesting JSON');
	const headers = {
		"X-CSRFToken": getCookie("csrftoken"),
		"Accept": "application/json",
		'Content-Type': 'application/json'
	}

	fetch(url, { 
		method: "POST",
		headers,
		body: "{}"
	}).then(  (rowz) => {
		console.log(url, 'finished');
		$("#unfavorite_star_"+thing_id).toggle();
		$("#favorite_star_"+thing_id).toggle();
	}).catch((error) => {
		console.error(error);
		//alert('Failed Operation');
	})
}
</script>
{% endblock %}

